ion-content.background{
  --background: url('../../assets/logi-photo.png');
}

#row1{
  margin-top: 85%;
}
// align items center of the page
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
// happy-birthday text background to be black color
#black-box{
  background-color: black;
  width: 100%;
}

/*================== text Styles ===============*/
#bd-text{
  margin: 4%;
  color: rgba(0, 255, 255, 1);
  font-family: 'Great Vibes', cursive;
  font-size: 36px;
}
#logi-name{
  color: rgba(0, 255, 255, 1);
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 36px;
}

